doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/style.css")
  body
    .container
      br
      .jumbotron
        h1 Room for stuffin my rooms
        .row
          .col-sm-5.col-md-5.col-lg-5
            h3 Make Rooms, Bitches!
            input#roomName(placeholder= "and we call this room...")
            button.addRoom add
        .row
          .col-sm-5.col-md-5.col-lg-5
            h3 Add stuff to your house
            input#itemName(placeholder= "Item Name")
            input#itemValue(placeholder= "Item Value")
            input#itemDescription(placeholder= "Item Description")
            button.addItem add
        .row
          .col-sm-5.col-md-5.col-lg-5
            h3 Shuffle Stuff Around The House
            .form-group
            label(for='sel') Room
            select#sel.form-control
              each item in items
               - var id = item._id
                option.dropDown(data-id= id)= item.name
            label(for='sel') Items In Room
            select#sel.form-control
            button#removeFrom Remove
            label(for='sel') Items In Storage
            select#sel.form-control
            button#addTo Add To Room

          a.btn.ptn-primary(href='/') main page


    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/admin.js')